<div id="page-wrapper">
    @model MVCTut.Models.TellerManagement

    @{
        ViewBag.Title = "Assign";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    <h2>Assign</h2>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="form-horizontal">
            <h4>TellerManagement</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
           
            <div class="form-group">
                @Html.LabelFor(model => model.User.Id, "Customer Name", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(m => m.User.Id, new SelectList(ViewBag.User, "Id", "FullName"))
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.TillAccount.Id, "Customer Name", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(m => m.TillAccount.Id, new SelectList(ViewBag.CustomerName, "Id", "GLAccountName"))
                </div>
            </div>


             <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</div>