<div id="page-wrapper">
    @model IEnumerable<Core.GLCategory>

    @{
        ViewBag.Title = "Index";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    <h2>Index</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <div class="box box-primary">
        <!-- /.box-header -->
        <div class="box-body">
            <table id="example1" class="table table-bordered table-striped">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.GLCategoryName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Description)
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => model.CategoryType)
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.GLCategoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.CategoryType)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @*@Html.ActionLink("Details", "Details", new { id = item.Id })*@
                @*|@Html.ActionLink("Delete", "Delete", new { id = item.Id })*@
            </td>
        </tr>
        }

            </table>
        </div>
        </div>
</div>
