<div id="page-wrapper">
        @model PagedList.IPagedList<Core.GLAccount>
    @using PagedList.Mvc;
    <link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

    @{
        ViewBag.Title = "Index";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    <h2>Index</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <div class="box box-primary">
        <!-- /.box-header -->
        <div class="box-body">
            @using (Html.BeginForm("Index", "GLAccount", FormMethod.Get))
            {
                <p>
                    Find by name: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
                    <input type="submit" value="Search" />
                </p>
            }     

            <table id="example1" class="table table-bordered table-striped">
                <tr>
                    <th>
                        @Html.ActionLink("GL Account Name", "Index", new { sortOrder = ViewBag.NameSortParm })


                    </th>
                    <th>
                        @Html.ActionLink("Account Code", "Index", new { sortOrder = ViewBag.IdSortParm })
                    </th>

                    <th>
                        GL Category
                    </th>

                    <th>
                        Branch
                    </th>

                    <th></th>
                </tr>

                @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.GLAccountName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GLCode)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.GLCategory.GLCategoryName)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Branch.Name)
            </td>

            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) 
            </td>
        </tr>
        }
            </table>
            <br/>
            Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
            @Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
        </div>
        </div>
    </div>
